body {
    margin: 0;
    background: #10edff;
  }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    
  }

  .card {
    background-color: #10edff;
  }

  .btn-primary {
    color: #fff;
    background-color: #252222;
    border-color: #007bff;
    font-size: 12px;
    border-radius: 25px;
    width: 100%;
}


.card-text  {
  font-size: 12px;
  color:black;
  text-align: left;
  
}

.card-text a {
    color : red;
    
}




.card-title {
  text-align: left;
    color: black;
    text-shadow: none;
}

.card {
  border: none;
}

.card-body
{
  padding: .5rem;
    /* height: 600px; */
}

.title-music {
  text-align: left;
  color: black;
  text-shadow: none;
  display: block;
  margin: 30px 0;
}