body {
    margin: 0;
    background-color: #ede6f3;
  }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    
  }

  .card {
    background-color: #9bcbff;
  }

  .btn-primary {
    color: #fff;
    background-color: #252222;
    border-color: #007bff;
}

.card-text a {
    color : red;
}

.zoom-out div img {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-out div:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}