/***google Materail Icon***/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-align: center;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/** page login contenu**/
.wrapper_login {
	background-image:url(../image/bg.jpg);
	background-repeat:no-repeat;
	min-height: 100vh;
	padding-top: 50px;
	background-size: cover;
	overflow: hidden;
}
.container {
	overflow: hidden;
}

/***header***/
.logo {
	width: 27%;
	margin: 0 auto;
	display: block;
}
.logo1 {
 width: 50%;
 margin-left: 50px;
}
.menu_right{
	display: flex;
	margin-right: 50px;
}
.menu_right a {
	display: block;
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
.ind {
	color: #000 !important;
	background: #fff !important;
	padding: 5px 20px;	
}

.ins {
	color: #fff !important;
	background: #333 !important;
	padding: 5px 20px;
}
.navbar {
 background: transparent;
 position: absolute;
 width: 100%;
 z-index: 9999;
}
.expand_more {
	text-align: center;
	display: block;
}

/**formulaire de connexion**/
.login {
	/*background-color: rgba(0, 0, 0, 0.8);*/
	width: 75%;
	margin: 0 auto;
}
form {
	width: 50%;
	display: block;
	margin: 0 auto;
}
.btn {
	width: 100%;
	display: block;
	margin: 10px auto;
	color: #fff;
	border-radius: 30px;
	background: #ad1c89;
}
.form-control {
	border-radius: 0;
	border: 0;
	color:#fff;
	background: #333;
}
.form-check-input {
	background: transparent;
	border: 1px #333 solid;
}
label {
	color: #fff;
}
form hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
    width: 50%;
}
.form-text {
	text-align: center;
	size: 1.5em;
}
.facebook {
 background:#3b5998;
}
.twitter {
	background: #1dcaff
}
a {
	color: #999;
}
.form-group ul {
	color: #fff;
}

/*****slider******/

.bloc-btn {
	margin-bottom: 5rem;
	text-align: left !important;	
}
.carousel-caption p {
	font-size: 2em;
	text-align: left;
}
.carousel-caption h2 {
	font-size: 3em;
	text-align: left;
}
.essaye {
	width: 200px !important;
	margin-bottom: 50px;
}
.material-icons a {
  text-decoration: none;
  color: #fff;
}

/*** section 1 avanatage **/
.avantage {
 width: 100%;
 overflow: hidden;
}
.avantage .text {
  padding: 50px 0;
}
.avantage h2 {
	font-size: 2em;
	font-weight: bold;
}
.avantage p {
	font-size: 1.2em;
}

/**section 2**/
.section2 {
	background: #f1f2f4;
	overflow: hidden;
}
.section2 h2 {
	font-size: 2em;
	font-weight: bold;
}
.section2 p {
	font-size: 1.2em;
}
.section2 .text {
  padding: 50px 0;
}

/** section 3 **/
.section3 {
	background: url(../image/bg.jpg);
	background-size: cover;
	padding:50px;
	overflow: hidden;
}
.section3 ul {
	text-align: left;
}
.card-body {
	height: 210px;
}
.btn_card {
	color: #fff;
	position: absolute;
	width: 200px;
	bottom : 20px;
	right: 0;
	left: 0;
}
.btn_premuim {
	background: #ffc617;
}
.btn_free {
	background:#28ae43;
}

/** footer **/
.footer {
	background: #1b1919;
	height: 42vh;
	padding-top: 40px;
}
.social_media img {
	width: 10%;
	margin-left: 10px;
}
.social_media {
	margin-left: 10px;
}
.footer ul {
	list-style: none;
	color: #fff;
	text-align: left;
	padding: 0;
}
.footer ul li{
	padding: 3px;
}
.footer h6 {
	font-weight: bold;
	color: #fff;
}
.copyright p {
	text-align: right;
	color: #fff;
}

/***home page****/
.page_content {

}

/******responsive design*****/
@media (max-width: 576px) { 
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.avantage  {
	}
	.col-sm-6 {
		width: 100%;
	}
	.avantage .text {
		text-align: center;
		width: 100%;
	}

	/** col**/
 }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	form {
	width: 90%;
}
.btn {
	width: 100%;
	}
 .login {	
	width: 100%;
 }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 

 }