/** page login contenu**/
.wrapper_login {
	background-image:url(../image/bg.jpg);
	background-repeat:no-repeat;
	height: 100vh;
	padding-top: 50px;
	background-size: cover;
}

/***header***/
.logo {
	width: 25%;
	margin: 0 auto;
	display: block;
}
.logo1 {
 width: 50%;
 margin-left: 50px;
}
.menu_right{
	display: flex;
	margin-right: 50px;
}
.menu_right a {
	display: block;
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
.ind {
	color: #000 !important;
	background: #fff !important;
	padding: 5px 20px;	
}

.ins {
	color: #fff !important;
	background: #333 !important;
	padding: 5px 20px;
}
.navbar {
 background: transparent;
 position: absolute;
 width: 100%;
 z-index: 9999;
}

/**formulaire de connexion**/
.login {
	/*background-color: rgba(0, 0, 0, 0.8);*/
	width: 75%;
	margin: 0 auto;
}
form {
	width: 50%;
	display: block;
	margin: 0 auto;
}
.btn {
	width: 100%;
	display: block;
	margin: 10px auto;
	color: #fff;
	border-radius: 30px;
	background: #ad1c89;
}
.form-control {
	border-radius: 0;
	border: 0;
	color:#fff;
	background: #333;
}
.form-check-input {
	background: transparent;
	border: 1px #333 solid;
}
label {
	color: #fff;
}
form hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
    width: 50%;
}
.form-text {
	text-align: center;
	size: 1.5em;
}
.facebook {
 background:#3b5998;
}
.twitter {
	background: #1dcaff
}
a {
	color: #999;
}
.form-group ul {
	color: #fff;
}

/*****slider******/

.bloc-btn {
	margin-bottom: 15rem;
	text-align: left !important;	
}
.carousel-caption p {
	font-size: 2em;
	text-align: left;
}
.carousel-caption h2 {
	font-size: 3em;
	text-align: left;
}
.essaye {
	width: 200px !important;
}

/******responsive design*****/
@media (max-width: 576px) { 

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	form {
	width: 90%;
}
.btn {
	width: 100%;
	}
 .login {	
	width: 100%;
 }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 

 }