/** page login contenu**/
.wrapper_login {
	background-image:url(../image/guitar.jpg);
	background-repeat:no-repeat;
	height: 100vh;
	padding-top: 50px;
}

/***header***/
.logo {
	width: 25%;
	margin: 0 auto;
	display: block;
}

/**formulaire de connexion**/
.login {
	/*background-color: rgba(0, 0, 0, 0.8);*/
	width: 75%;
	margin: 0 auto;
}
form {
	width: 50%;
	display: block;
	margin: 0 auto;
}
.btn {
	width: 100%;
	display: block;
	margin: 10px auto;
	color: #fff;
	background: #333;
}
.form-control {
	border-radius: 0;
	border: 0;
	color:#fff;
	background: #333;
}
.form-check-input {
	background: transparent;
	border: 1px #333 solid;
}
label {
	color: #fff;
}
form hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
    width: 50%;
}
.form-text {
	text-align: center;
	size: 1.5em;
}
.facebook {
 background:#3b5998;
}
.twitter {
	background: #1dcaff
}
a {
	color: #999;
}

/******responsive design*****/
@media (max-width: 576px) { 

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	form {
	width: 90%;
}
.btn {
	width: 100%;
	}
 .login {	
	width: 100%;
 }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 

 }