{% extends "::base.html.twig" %}

{% block title %}AppBundle:Playlist:list{% endblock %}

{% block body %}
<h1>les morceaux de la playlist</h1>

<ul>
  {% for music in musics %}

    <li> 
      <a href="{{ path('music_play', {'id': music.id } ) }}">{{ music.titre }}</a>
      <a href="{{ path('playlist_delete_song', {'id_m': music.id, 'id_p': playlist.id } ) }}">Supprimer ce morceau de la playlist</a>

    </li>

  {% endfor %}
</ul>
{% endblock %}
